<table class="article-table" border='0' cellpadding='10' cellspacing='0'>
  <tbody>
    <tr>
      <td>
        <%= comment.commenter %>
      </td>
    </tr>
    <td>
      <%= comment.body %>
      </td>
  </tbody>
</table>
