<p class='text' id='text-show-article'><%= @article.title %></p>
<p class='text' id='text-show-article'><%= @article.text %></p>
<h2 class='title' id='text-show-article'>Comments</h2>
<%= render  @article.comments %>
<%if !current_user.nil?%>
  <h2 class='title' id='text-show-article'>Add comment</h2>
  <%= render 'comments/form' %>
<%end%>
