<p class='article-table'><strong>Title</strong></p>
<p class='article-table'><%= @article.title %></p>
<p class='article-table'><strong>Text</strong></p>
<p class='article-table'><%= @article.text %></p>
<h2 class='article-table'>Comments</h2>
<%= render  @article.comments %>
<%if !current_user.nil?%>
  <h2 class='article-table'>Add comment</h2>
  <%= render 'comments/form' %>
<%end%>
