body{background: #eee url(http://subtlepatterns.com/patterns/playstation-pattern.png);}
html,body{
  position: relative;
  height: 100%;

}

.vote{
  width: 25px;
  height: 25px;

}

.login-container{
  position: relative;
  width: 300px;
  margin: 80px auto;
  padding: 20px 40px 40px;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
  font-family: "serif"

}

#helv.c{
  text-align: center;

}

#helv.r{
  text-align: right;

}

.data-table{
  font-size: 10px;
  text-align: justify;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(112, 128, 144);

}

#text{
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

#text.title{
  color: rgb(0, 0, 0);
  font-size: medium; 
}

#text.article{
  color: rgb(0, 0, 128);
  font-size: small;

}

.title-table{
  text-align: justify;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(0, 0, 128);
  text-decoration: none;

}

.text-table{
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(20, 20, 20);

}

#text-show-article{
  margin-left: 10%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

#text-show-article.title{
  font-size: 20px;
  color: rgb(0, 0, 128);

}

#text-show-article.text{
  font-size: 15px;
  color: rgb(54, 100, 139);

}

.article-table{
  margin-left: 10%;

}

#helv{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(127,127,127);
  font-serifize: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;

}

.login-container::before,.login-container::after{
  content: "";
  position: absolute;
  width: 100%;height: 100%;
  top: 3.5px;left: 0;
  background: #fff;
  z-index: -1;
  -webkit-transform: rotateZ(4deg);
  -moz-transform: rotateZ(4deg);
  -ms-transform: rotateZ(4deg);
  border: 1px solid #ccc;


}

.login-container::after{
  top: 5px;
  z-index: -2;
  -webkit-transform: rotateZ(-2deg);
  -moz-transform: rotateZ(-2deg);
  -ms-transform: rotateZ(-2deg);


}

.form-box input{
  width: 100%;
  padding: 10px;
  text-align: center;
  height:40px;
  border: 1px solid #ccc;;
  background: #fafafa;
  transition:0.2s ease-in-out;

}
.submit-box input{
  width: 100%;
  padding: 10px;
  height:40px;
  border: 1px solid #ccc;;
  background: #fafafa;
  transition:0.2s ease-in-out;
  margin-top: 15px;

}

.submit2-box input{
  width: 8%;
  padding: 10px;
  height:40px;
  border: 1px solid #ccc;;
  background: #fafafa;
  transition:0.2s ease-in-out;
  margin-top: 15px;
  margin-left: 10%;

}

.submit3-box input{
  width: 8%;
  padding: 10px;
  height:40px;
  border: 1px solid #ccc;;
  background: #fafafa;
  transition:0.2s ease-in-out;
  margin-top: 15px;

}

.form-box input:focus{
  outline: 0;
  background: #eee;

}


